<div class="header">
    <ul class="header-menu">
        <div class="menu mobile pad">
            <button class="menu-toggler js-menu-toggler">
                <div class="menu-toggler-inner menu-toggler-inner--open">
                    <div class="menu-toggler-icon menu-toggler-icon--top"></div>
                    <div class="menu-toggler-icon menu-toggler-icon--middle"></div>
                    <div class="menu-toggler-icon menu-toggler-icon--bottom"></div>
                </div>
            </button>
            <div class="gsap--menu-content">
                <div class="menu-content">
                    <ul class="menu-content-list">
                        <li>
                            <a href="{{ path('app_home') }}" class="menu-list-link" data-hover="">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_news') }}" class="menu-list-link" data-hover="">
                                Actualités
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_actions') }}" class="menu-list-link" data-hover="">
                                Nos actions
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_history') }}" class="menu-list-link" data-hover="">
                                Histoire
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_contact') }}" class="menu-list-link" data-hover="">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <div class="menu-content-social">
                        <a href="{{ 'odadi.facebook'|trans }}" target="_blank"><img class="icon" src="{{ asset('build/img/logos/facebook.png') }}" alt="Facebook"></a>
                        <a href="{{ 'odadi.instagram'|trans }}" target="_blank"><img class="icon" src="{{ asset('build/img/logos/insta.png') }}" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <li class="header-menu-list desktop">
            <a href="{{ path('app_news') }}">Actualités</a>
        </li>
        <li class="header-menu-list desktop">
            <a href="{{ path('app_actions') }}">Nos actions</a>
        </li>
        <li class="header-menu-list">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('build/img/logos/odadi.png') }}" alt="" class="header-menu-img">
            </a>
        </li>
        <li class="header-menu-list desktop">
            <a href="{{ path('app_history') }}">Histoire</a>
        </li>
        <li class="header-menu-list desktop">
            <a href="{{ path('app_contact') }}">Contact</a>
        </li>
    </ul>
</div>




