<div class="page-header lazyload-right">
    <div class="page-header-button">
        {% if pageTitle == 'À la une' %}
            <a class="button button-header" href="{{ path('app_news') }}">
                <img src="{{ asset('build/img/logos/arrow.png') }}" alt="">
                <p class="desktop">Actualités</p>
            </a>
        {% else %}
            <a class="button button-header" href="{{ path('app_home') }}">
                <img src="{{ asset('build/img/logos/arrow.png') }}" alt="">
                <p class="desktop">Accueil</p>
            </a>
        {% endif %}
        {# <a class="button button-header" href="">
            <img src="{{ asset('build/img/logos/arrow.png') }}" alt="">
            <p>À la une</p>
        </a> #}
    </div>
    <h1 class="page-header-title">{{ pageTitle }}</h1>
</div>
<hr class="title-line">