{% extends '_layout.html.twig' %}

{% set pageTemplate = 'actions' %}
{% set pageTitle = 'Nos Actions' %}
{% set titleTag = 'actions.titleTag'|trans %}
{% set metaDescription = 'actions.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="actions lazyload-right">
        <img class="actions-background actions-background-left" src="{{ asset('build/img/home/background.png') }}" alt="">
        <img class="actions-background actions-background-right desktop" src="{{ asset('build/img/home/background.png') }}" alt="">
        {% include 'include/page-header.html.twig' %}
        <div class="actions-formation">
            <div id="formation" class="actions-formation-presentation">
                <div class="actions-formation-presentation-img">
                    <img class="actions-formation-presentation-img-cropper" src="{{ asset('build/img/actions/femmes.jpg') }}" alt="Repas">
                </div>
                <div class="actions-formation-presentation-info">
                    <h2 class="actions-formation-presentation-info-number huge-number desktop">1</h2>
                    <div class="actions-formation-presentation-info-text">
                        <h1 class="title">FORMATION DES FEMMES</h1>
                        <p class="text">{{ 'actions.formation.presentation'|trans|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="actions-formation-selector card-container">
                <div id="1" class="card active">
                    <div class="card-header">
                        <h3 class="card-header-number">0<strong>1</strong></h3>
                        <h1 class="card-header-title">{{ 'actions.formation.cards.first.title'|trans }}</h1>
                    </div>
                    <p class="card-text">{{ 'actions.formation.cards.first.presentation'|trans|raw }}</p>
                </div>
                <div id="2" class="card hide">
                    <div class="card-header">
                        <h3 class="card-header-number">0<strong>2</strong></h3>
                        <h1 class="card-header-title">{{ 'actions.formation.cards.second.title'|trans }}</h1>
                    </div>
                    <p class="card-text">{{ 'actions.formation.cards.second.presentation'|trans|raw }}</p>
                </div>
                {# <div id="3" class="card hide">
                    <div class="card-header">
                        <h3 class="card-header-number">0<strong>3</strong></h3>
                        <h1 class="card-header-title">Femme</h1>
                    </div>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nobis quaerat laudantium asperiores, animi minima? Atque repellendus laboriosam distinctio impedit eius, dolore adipisci cumque nisi tempore quod dolor necessitatibus beatae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque autem dolorum quos, maxime veritatis aut sequi alias ducimus soluta corporis vero illum vitae ad quisquam ipsum dolorem fugit! Quasi, possimus?</p>
                </div> #}
                <div class="switch-button">
                    <button class="previous yellow">
                        <img src="{{ asset('build/img/logos/previous.png') }}" alt="">
                    </button>
                    <button class="next green">
                        <img src="{{ asset('build/img/logos/next.png') }}" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="actions-food">
            <div class="actions-food-background">
                <img src="{{ asset('build/img/actions/ellipse.png') }}" alt="">
            </div>
            <div class="actions-food-header">
                <p class="actions-food-header-text">{{ 'actions.food.header.text'|trans|raw }}</p>
                <div id="food" class="actions-food-header-title">
                    <h2 class="number huge-number desktop">2</h2>
                    <h1 class="title">NOURRITURE</h1>
                </div>
            </div>
            <hr class="actions-food-line">
            <div class="actions-food-presentation">
                <img class="actions-food-presentation-img" src="{{ asset('build/img/history/creation.png') }}" alt="Repas">
                <div class="actions-food-presentation-text">
                    <h1 class="title">{{ 'actions.food.presentation.title'|trans }}</h1>
                    <p class="text">{{ 'actions.food.presentation.text'|trans|raw }}</p>
                </div>
            </div>
        </div>
        <div class="actions-farming">
            <div class="actions-farming-presentation">
                <div id="farming" class="actions-farming-presentation-header">
                    <h2 class="number huge-number desktop">3</h2>
                    <div class="presentation">
                        <h1 class="presentation-title">AGRICULTURE</h1>
                        <p class="presentation-text">{{ 'actions.farming.presentation'|trans|raw }}</p>
                    </div>
                </div>
                <div class="actions-farming-cards">
                    <div class="card-container">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-header-number">0<strong>1</strong></h3>
                                <h1 class="card-header-title">{{ 'actions.farming.cards.first.title'|trans }}</h1>
                            </div>
                            <p class="card-text">{{ 'actions.farming.cards.first.presentation'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-header-number">0<strong>2</strong></h3>
                                <h1 class="card-header-title">{{ 'actions.farming.cards.second.title'|trans }}</h1>
                            </div>
                            <p class="card-text">{{ 'actions.farming.cards.second.presentation'|trans|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="actions-farming-img" src="{{ asset('build/img/actions/farming.png') }}" alt="">
        </div>
        <div class="actions-urban">
            <div class="actions-urban-background">
                <img src="{{ asset('build/img/actions/ellipse.png') }}" alt="">
            </div>
            <div class="actions-urban-header">
                <p class="actions-urban-header-text">{{ 'actions.urbanisation.header.text'|trans|raw }}</p>
                <div id="urban" class="actions-urban-header-title">
                    <h2 class="number huge-number desktop">4</h2>
                    <h1 class="title">URBANISATION</h1>
                </div>
            </div>
            <hr class="actions-urban-line">
            <div class="actions-urban-presentation">
                <div class="actions-urban-prensentation-img">
                    <img class="actions-urban-presentation-img-cropper" src="{{ asset('build/img/actions/urbanisation.jpg') }}" alt="Repas">
                </div>
                <div class="actions-urban-presentation-text">
                     <h1 class="title">{{ 'actions.urbanisation.presentation.title'|trans }}</h1>
                     <p class="text">{{ 'actions.urbanisation.presentation.text'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}