{% extends '_layout.html.twig' %}

{% set pageTemplate = 'contact' %}
{% set pageTitle = 'Contact' %}
{% set titleTag = 'contact.titleTag'|trans %}
{% set metaDescription = 'contact.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="contact lazyload-right">
        {% include 'include/page-header.html.twig' %}
        <div class="contact-header">
            <img class="contact-background mobile" src="{{ asset('build/img/home/background.png') }}" alt="">
            <div class="contact-header-member">
                <h1 class="contact-header-member-title">A CONTACTER</h1>
                <div class="contact-header-member-container">
                    {% for member in members %}
                    <div class="member">
                        <img src="{{ member.picture.url }}" alt="">
                        <div class="member-info">
                            <h1 class="member-info-name">{{ member.name }}</h1>
                            <p class="member-info-job">{{ member.job }}</p>
                            <a class="member-info-mail" href="mailto:{{ member.mail }}">
                                <img src="{{ asset('build/img/logos/mail.png') }}" alt="">
                                <p>{{ member.mail }}</p>
                            </a>
                            <a class="member-info-phone" href="tel:{{ member.phone }}">
                                <img src="{{ asset('build/img/logos/telephone.png') }}" alt="">
                                <p>{{ member.phone }}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="contact-header-form">
                <form id="contactForm" class="container-form yellow">
                    {# <div class="container-form-info">
                        <label for="" class="container-form-info-lastname">
                            <input type="text" placeholder="Nom" id="lastname">
                        </label>
                        <label for="" class="container-form-info-firstname">
                            <input type="text" placeholder="Prénom" id="firstname">
                        </label>
                        <label for="" class="container-form-info-mail">
                            <input type="mail" placeholder="Adresse mail" id="email">
                        </label>
                    </div>
                    <label for="" class="container-form-message">
                        <textarea type="text" placeholder="Message" id="message"></textarea>
                    </label>
                    <button class="container-form-button button green">Soumettre le formulaire</button> #}
                    <h1>Vous souhaitez contacter l'association ?</h1>
                    <p>Vous le pouvez en cliquant sur ce lien : <a href='mailto:odadifrance@gmail.com'>odadifrance@gmail.com</a></p>
                </form>
            </div>
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}