{% extends '_layout.html.twig' %}

{% set pageTemplate = 'home' %}
{% set titleTag = 'home.titleTag'|trans %}
{% set metaDescription = 'home.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="home">
        <div class="home-header">
            <img class="home-header-img" src="{{ asset('build/img/home/header/header-img.png') }}" alt="Madagascar">
            <img class="home-header-background" src="{{ asset('build/img/home/header/background.jpg') }}" alt="">
            <h1 class="home-header-title">Aidez nous à développer <br>la communauté Malgache</h1>
        </div>
        <div class="home-actions">
            <h1 class="home-actions-title">Nos actions</h1>
            <hr>
            <div class="home-actions-slides">
                <div class="home-actions-slides-left">
                    <img src="{{ asset('build/img/home/actions/slides/formation.png') }}" alt="">
                    <img src="{{ asset('build/img/home/actions/slides/urbanisation.png') }}" alt="">
                </div>
                <div class="home-actions-slides-center">
                    <img src="{{ asset('build/img/home/actions/slides/nourriture.png') }}" alt="">
                </div>
                <div class="home-actions-slides-right">
                    <img src="{{ asset('build/img/home/actions/slides/apiculture.png') }}" alt="">
                    <img src="{{ asset('build/img/home/actions/slides/agriculture.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}