{% macro btnLink(class, color, path, slug, text, img, animated = true) %}
    {% if animated == false %}
    <a class="{{ class }} button button-{{ color }}--no-animation {{ color }}" href="{{ path(path, { slug: slug }) }}">
        {{ text }}
        <img src="{{ asset(img) }}" alt="">
    </a>
    {% else %}
    <a class="{{ class }} button button-{{ color }} {{ color }}" href="{{ path(path, { slug: slug }) }}">
        {{ text }}
        <img src="{{ asset(img) }}" alt="">
    </a>
    {% endif %}
{% endmacro %}