{% macro btnLink(class, color, path, slug, text, img, animated = true) %}
    {% if animated == false %}
        {% if slug is not empty %}
            <a class="{{ class }} button button-{{ color }}--no-animation {{ color }}" href="{{ path(path, { slug: slug }) }}">
                {{ text }}
                <img src="{{ asset(img) }}" alt="">
            </a>
        {% else %}
            <a class="{{ class }} button button-{{ color }}--no-animation {{ color }}" href="{{ path(path) }}">
            {{ text }}
                <img src="{{ asset(img) }}" alt="">
            </a>
        {% endif %}
    {% else %}
        {% if slug is not empty %}
            <a class="{{ class }} button button-{{ color }} {{ color }}" href="{{ path(path, { slug: slug }) }}">
            {{ text }}
                <img src="{{ asset(img) }}" alt="">
            </a>
        {% else %}
            <a class="{{ class }} button button-{{ color }} {{ color }}" href="{{ path(path) }}">
            {{ text }}
                <img src="{{ asset(img) }}" alt="">
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro btnDownload(color, url, filename, text) %}
    <a class="button button-{{ color }}--no-animation {{ color }}" href="{{ url }}" download="{{ filename }}" target="_blank">
        {{ text }}
        <img src="{{ asset('build/img/logos/downloads.png') }}" alt="{{ filename }}">
    </a>
{% endmacro %}