{% extends '_layout.html.twig' %}

{% import 'macro/actuality-overlook.html.twig' as actualityMacro %}
{% import 'macro/button.html.twig' as btnMacro %}

{% set pageTemplate = 'actuality' %}
{% set pageTitle = 'À la une' %}
{% set titleTag = actuality.title %}
{% set metaDescription = 'actuality.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
        <div class="actuality">
            {% include 'include/page-header.html.twig' %}
            <div class="container">
                <div class="actuality-content lazyload">
                    <div class="actuality-content-header">
                        <div class="actuality-content-header-img">
                            <img class="ellipse" src="{{ asset('build/img/home/hotnews/ellipse-hotnews.png') }}" alt="">
                            <div class="principal-cropper">
                                <img class="principal-cropper-img" src="{{ actuality.picture.url }}" alt="{{ actuality.picture.fileName }}">
                            </div>
                            <div class="second-cropper">
                                <img class="second-cropper-img" src="{{ asset('build/img/home/hotnews/second-picture.jpg') }}" alt="">
                            </div>
                        </div>
                        <h2 class="actuality-content-header-title">{{ actuality.title }}</h2>
                    </div>
                    <div class="actuality-content-text">
                        <p>{{ (actuality.content|raw)|nl2br }}</p>
                    </div>
                </div>
                <div class="actuality-hotnews lazyload-right">
                    <div class="actuality-hotnews-container">
                        {{ actualityMacro.actualityOverlook('actuality-overlook-activated', actuality.picture, actuality.title, actuality.category, actuality.date, actuality.preview, actuality.slug, actuality.AG) }}
                        <hr class="lazyslow">
                        {% for hotnew in hotnews %}
                            {{ actualityMacro.actualityOverlook('', hotnew.picture, hotnew.title, hotnew.category, hotnew.date, hotnew.preview, hotnew.slug, hotnew.AG) }}
                        {% endfor %}
                        <div>
                            {{ btnMacro.btnLink('actuality-hotnews-button', 'yellow', 'app_news', '', 'Plus d\'articles', 'build/img/logos/+.png', false) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}