{% extends '_layout.html.twig' %}

{% import 'macro/actuality-overlook.html.twig' as actualityMacro %}
{% import 'macro/button.html.twig' as btnMacro %}

{% set pageTemplate = 'actuality' %}
{% set pageTitle = 'À la une' %}
{% set titleTag = 'actuality.titleTag'|trans %}
{% set metaDescription = 'actuality.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
        <div class="actuality">
            {% include 'include/page-header.html.twig' %}
            <div class="container">
                <div class="actuality-content lazyload">
                    <div class="actuality-content-header">
                        <div class="actuality-content-header-img">
                            <img class="ellipse" src="{{ asset('build/img/home/hotnews/ellipse-hotnews.png') }}" alt="">
                            <div class="principal-cropper">
                                <img class="principal-cropper-img" src="{{ asset('build/img/home/hotnews/principal-picture.jpg') }}" alt="">
                            </div>
                            <div class="second-cropper">
                                <img class="second-cropper-img" src="{{ asset('build/img/home/hotnews/second-picture.jpg') }}" alt="">
                            </div>
                        </div>
                        <h2 class="actuality-content-header-title">Une nouvelle école en construction</h2>
                    </div>
                    <div class="actuality-content-text">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae rem deserunt impedit tempore ut nulla laboriosam minus ullam vel eos repudiandae quia alias repellat et reprehenderit, optio corporis corrupti animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente explicabo architecto illo, placeat unde totam rerum vel velit corrupti porro molestias deserunt consequuntur fugit error iusto magni veniam maiores repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aspernatur provident aut voluptas! Veniam assumenda ea similique voluptatum praesentium dolorem, voluptatibus ullam, illo temporibus iure soluta officia et consequuntur ipsam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae rem deserunt impedit tempore ut nulla laboriosam minus ullam vel eos repudiandae quia alias repellat et reprehenderit, optio corporis corrupti animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente explicabo architecto illo, placeat unde totam rerum vel velit corrupti porro molestias deserunt consequuntur fugit error iusto magni veniam maiores repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aspernatur provident aut voluptas! Veniam assumenda ea similique voluptatum praesentium dolorem, voluptatibus ullam, illo temporibus iure soluta officia et consequuntur ipsam!</p>
                    </div>
                </div>
                <div class="actuality-hotnews lazyload-right">
                    <div class="actuality-hotnews-container">
                        {{ actualityMacro.actualityOverlook('actuality-overlook-activated', 'build/img/home/hotnews/principal-picture.jpg', 'Une nouvelle école en construction', '10/10/23', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt laborum quis?', 'nouvelle-école', false) }}
                        <hr class="lazyslow">
                        {{ actualityMacro.actualityOverlook('', 'build/img/home/hotnews/principal-picture.jpg', 'Une nouvelle école en construction', '10/10/23', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt laborum quis?', 'nouvelle-école', false) }}
                        {{ actualityMacro.actualityOverlook('', 'build/img/home/actions/slides/nourriture.png', 'Une nouvelle école en construction', '10/10/23', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt laborum quis?', 'nouvelle-école', false) }}
                        <div>
                            {{ btnMacro.btnLink('actuality-hotnews-button', 'yellow', 'app_news', '', 'Plus d\'articles', 'build/img/logos/+.png', false) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}